body {
	background:none;
	background-color: rgba(0, 0, 0, 0.75);
}

main#mobile-applications {
	color:white;
}

.header__jumbo h1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto; 
  font-size: 2em;
  font-weight: $font-weight--medium;
  color: white;	
    @media screen and (max-width: 600px) { text-align: center; font-size: 1.6em; }
		@media screen and (min-width: 600px ) and (max-width: 800px) {
			text-align: center;
		}
    @media screen and (min-width: 1401px) { width: 68%; }
    @media screen and (min-width: 1001px) and (max-width: 1400px) { width: 74%; }
}

.header__jumbo-text {
  text-align: center;	
	display: block;
  	@media screen and (max-width: 750px) {
  		width:100%;
  		display: inline-block;
  	}
}

.jumbo-nav {
  width: 100%;
  display: block;
  border-bottom: none;
  & a {
    color: white;
    vertical-align: sub;  
  }
  & h2 {
    text-align: center;
    margin: 0.67em;
    color: white;
  }
  & ul {
    border-bottom: none;
    -webkit-margin-before: 0em;
  }
  @media screen and (max-width: 525px) {
    display: inline-table;
  }
}

.jumbo-nav--fixed {
  z-index: 99;
  background-color: rgba(82, 82, 82, 1);  
  position: fixed;
}

.jumbo-nav__inner {
  width: 88%;
  margin: 0 auto;
}

#jumbo-nav--toggle {
  position: absolute;
  left: -10000px;  
}

.jumbo-nav__inner--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.jumbo-nav__inner-image {
  float:left;
    @media screen and (max-width: 700px) {
      width: 100%;
      margin-bottom: 1em;
      margin-right: 0;
      text-align: center;
    } 
  &--logo {
    height: 40px;
    width: 40px;
    margin-top: 0.5em;
  }
}

.jumbo-nav__inner-label {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 700px) {
.jumbo-nav__inner--toggle-btn:after {
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-duration: 0.7s;
    font-size: 1.3125em;
    font-family: FontAwesome;
    font-weight: 300;
    content: "\f078";
    margin-top: 20px;
  }
}

.jumbo-nav__collapsable {
  @media screen and (max-width: 700px) {     
    max-height: 0;
    transition: max-height 0.8s linear;    
  }
  & li { list-style: none; }
}

#jumbo-nav--toggle:checked ~ .jumbo-nav__collapsable {
  @media screen and (max-width: 700px) {
    display: block;
    max-height: 400px;     
    transition: max-height 1s linear;
    overflow: initial;
  }
}

#jumbo-nav--toggle:checked ~ .jumbo-nav__collapsable li {
  padding-top: 10px;
  transition: opacity 0.4s ease-in 0.2s;   
  opacity: 1;
}

#jumbo-nav--toggle:not(:checked) ~ .jumbo-nav__collapsable li {
  padding-top: 10px;
  transition: opacity 0.4s ease-out;  
  opacity: 0;
  @media screen and (min-width: 700px) { 
    opacity: 1;
  }  
}

#jumbo-nav--toggle:not(:checked) ~ .jumbo-nav__inner-label { 
  -webkit-animation-name: spin;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin;
  -ms-animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  
  animation-name: spin;
  animation-duration: 500ms;
  animation-timing-function: linear;
  transform:rotate(0deg);
}

#jumbo-nav--toggle:checked ~ .jumbo-nav__inner-label { 
  -webkit-animation-name: spin-reversed;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: spin-reversed;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: linear;

  -ms-animation-name: spin-reversed;
  -ms-animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  
  animation-name: spin-reversed;
  animation-duration: 500ms;
  animation-timing-function: linear;
  transform:rotate(180deg);
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(180deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(180deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    0% {transform:rotate(180deg);}
    100% {transform:rotate(0deg);}
}

@-moz-keyframes spin-reversed {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes spin-reversed {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(180deg); }
}
@keyframes spin-reversed {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(180deg);}
}

h2.heading--light {
  font-weight: $font-weight--light;
  font-size: 2.8em;
    @media screen and (max-width: 750px) {
      text-align: center;
      font-size: 2.4em;
    }
}

.section__jumbo {
  box-shadow: 0 8px 30px -15px rgba(0, 0, 0, 0.63); 
  @media screen and (max-width: 750px) {
    padding-top: 0.4em;
  }
  &--one {
    padding-top: 140px;
    @media screen and (min-width: 750px) { padding-top: 80px; }
    background-color: rgba(92, 92, 92, 0.33);
  }
  &--two {
    background-color: rgba(72, 72, 72, 0.33);
  }
  &--three {
    background-color: rgba(52, 52, 52, 0.33);
  }
}

.section__jumbo-inner {
  height: 600px;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  @media screen and (min-width: 1401px) { width: 68%; }
  @media screen and (min-width: 1001px) and (max-width: 1400px) { width:74%; }
  @media screen and (min-width: 800px) and (max-width: 1200px) { height: 520px; } 
  @media screen and (min-width: 686px) and (max-width: 799px) { height: 460px;  }
  @media screen and (min-width: 200px) and (max-width: 685px) { height: 820px; }  
}

.section__jumbo-inner--top-gutter {
  @media screen and (min-width: 810px) and (max-width: 1000px) {
    padding-top: 1em;
  } 
  @media screen and (min-width: 1001px) {
    padding-top: 2em;
  }   
}

.p__checkmark-icon {
  font-size: 1.6em;
  font-weight: $font-weight--medium;
  @media screen and (min-width: 841px) and (max-width: 1000px) {
    font-size: 1.4em;
  }
  @media screen and (max-width: 840px) {
    font-size: 1.2em;
  }   
}

.fixed-chevron-scroll i {
  width: 100%;
  bottom: 180px;
  text-align: center;
  font-size: 2em;
  font-family: FontAwesome;
  font-weight: 300;
  content: "\f078";
  visibility: visible;
    -webkit-animation: bounce 1s ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
  animation: bounce 1s ease-out;
    -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
    -webkit-animation-delay: 1s;
  animation-delay: 1s;  
  @media screen and (min-width: 800px) and (max-width: 1200px) { bottom: 260px; } 
  @media screen and (min-width: 751px) and (max-width: 799px) { bottom: 320px; }  
  @media screen and (min-width: 701px) and (max-width: 750px) { bottom: 260px; }
  @media screen and (max-width: 700px) {
    visibility: hidden;
  }
}

@keyframes bounce {
  0% {transform:translateY(0);}
  25% {transform:translateY(-30%);}
  50% {transform:translateY(-60%);}
  75% {transform:translateY(-20%);}
  100% {transform:translateY(0);}
}

.iphone-img {
  & img {
    margin-left: 0;
    @media screen and (min-width: 1201px) { width: 300px; }
    @media screen and (min-width: 801px) and (max-width: 1200px) { width: 240px; }
    @media screen and (max-width: 800px) { width: 220px; }
  }
  &--top-gutter {padding-top: 1.8em;}
}

.iphone-img--centered-left {
  text-align: left;
  @media screen and (max-width: 740px) { text-align: center; }
}
.iphone-img--centered-right {
  text-align: right;
  @media screen and (max-width: 740px) { text-align: center; }  
}

.app-store__group {
  height: 2.6em;
  width: 36em;
  @media screen and (min-width: 801px) and (max-width: 1200px) {
    width: 26em;
  }
  @media screen and (min-width: 400px) and (max-width: 800px) {
    width: 22em;
    margin: 0 auto;  
  }  
  @media screen and (max-width: 399px) {
    width: 16em;
    margin: 0 auto;  
  }  
}

.app-store__ios-btn--small {
  float: left;
  height: 68px;
  width: 46%;
  margin: 0;
  background: url(./iphone-badge.png) no-repeat;
  background-size: contain;
    @media screen and (min-width: 681px) and (max-width: 1000px) {
      height: 60px;
      width: 45%;
    }
    @media screen and (max-width: 680px) {
      height: 50px;
      width: 40%;
    }  
}

.app-store__android-btn--small {
  float: right;
  height: 68px;
  width: 46%;
  margin: 0;
  background: url(./google-badge.png) no-repeat;
  background-size: contain;
    @media screen and (min-width: 681px) and (max-width: 1000px) {
      height: 60px;
      width: 45%;
    }
    @media screen and (max-width: 680px) {
      height: 50px;
      width: 40%;
    }  
}